<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniEat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UniEat.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/tailwindcss/tailwind.css" />
    <link rel="stylesheet" href="./css/RBstyle.css" />
    <link href="@Url.Content("~/css/RBstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/RBfonts.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/RBSassyStyle.scss")" rel="stylesheet" type="text/scss" />
    <link href="@Url.Content("~/lib/tailwindcss")" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css">
    @*  bg-white border-bottom box-shadow mb-3  navbar navbar-expand-sm navbar-toggleable-sm navbar-light*@

    
</head>
<body id="navbar">
    <header id="navbar">
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-pink">
            <div id="navbar" class="container-fluid">
                <img src="https://www.uniflex-hydraulics.com/wp-content/themes/yootheme/cache/d2/Logo-UNIFLEX-grau-d2ebb75f.webp" href="https://www.uniflex.de" />
                <a id="navbar" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="nagh"></a> <a id="nagh">UniEat</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span id="navbar" class="navbar-toggler-icon"></span>
                    
                </button>
                <div id="navbar" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
@*                     <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MenuList">Wochen Übersicht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Vorschläge</a>
                        </li>
                   
                    </ul> *@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Honk&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">



    </header>
    <div id="body" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - UniEat by René Barthel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    @* </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/+esm"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
